.button {
    padding: 12px 8px;
    margin: 8px;
    border: $white 1px solid;
    color: white;
    text-decoration: none;
    transition: background-color .2s ease;
    border-radius: 6px;

    &:hover {
        background-color: transparentize($color: $white, $amount: .9);
    }
}

