@import "./variables";
@import "./mixins";

countdown-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    &>.label {
        font-size: 12px;
    }

    &>.event-name {
        font-size: 26px;
    }

    &>.timer {
        display: flex;
        flex-direction: row;
        font-size: 32px;
        margin: 8px;

        &>* {
            padding: 8px;
            margin: 2px;
            text-align: center;
        }

        &>.digit {
            background-color: transparentize($color: $blue, $amount: .2);
            width: 32px;
            @include rounded();
        }

        &>.divider {
            padding-left: 0;
            padding-right: 0;

            &::after {
                content: ':';
            }
        }
    }
}