@page
@model GravyVr.Website.Pages.Venues.HomeModel
@{
    ViewBag.Title = "Venues";
    ViewBag.Section = "Venues";
}
<div class="container nav-push content">
    <h1>Venues</h1>
    <ul class="banner-list">
        <li>
            <a href="/installation" style="background-image:url('/images/installation.jpg')">
                <h2>Installation</h2>
                <p>Halo-themed map with particle screen, interactive lighting</p>
            </a>
        </li>
    </ul>
</div>