@page "/Installation"
@model GravyVr.Website.Pages.Venues.InstallationModel
@{
    ViewBag.Title = "Installation";
    ViewBag.Section = "Venues";
}
@section Head{
    <link rel="stylesheet" href="~/css/installation.scss" asp-append-version="true" />
}

<div class="hero-block fullscreen-block" style="background-image:url('/images/installation.jpg')">
    <h1>installation</h1>
    <p>Subtitle goes here lol</p>
    <a href="https://vrchat.com/home/launch?worldId=wrld_346038e5-a7a8-401d-b43b-5bfd8ea18a4c" target="_blank"
        class="button">Launch World</a>
</div>

<script type="appli"></script>